.auth-background {
    img {
        height: 100vh;
        object-fit: cover;
    }
}


.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(255, 199, 45, 0.5) !important;
    border: 1px solid rgb(255, 187, 127);
    color: #5f5539;


    .social_icon{
        position: absolute;
        right: 20px;
        top: -35px;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 3px solid rgb(255, 187, 127);
        }
    }

    .card-header {
        border-bottom: 1px solid rgb(255, 187, 127);
    }

    .card-footer {
        border-top: 1px solid rgb(255, 187, 127);
    }

    .input-group-prepend span{
        width: 50px;
        background-color: #FFC312;
        color: #ffffff;
        border:0 !important;
    }

    .remember {
        input {
            width: 20px;
            height: 20px;
            margin-left: 15px;
            margin-right: 5px;
        }
    }

    .login_btn {
        color: #5f5539;
        background-color: #FFC312;
        width: 100px;
    }
    
    .login_btn:hover {
        color: #5f5539;
        background-color: rgb(255, 166, 0);
    }
    
    .links {
        color: #5f5539;
    }
    
    .links a {
        margin-left: 4px;
        &:hover {
            text-decoration: none;
        }
    }
}
